*{

margin:0;
padding:0;

}
img{

border-color:white;


}
body{

background:url(../img/b.jpg) repeat-x;
background-position:0px 68px;
font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

}
#maincontent{

width:1011px;
position:relative;
margin:0 auto;

}
/*首部布局代码*/
#header{

float:left;

}
#header #im1{

float:left;
margin-top:10px;


}
ul#l1{
line-height:1;
position:absolute;
right:0;
top:42px;

}
ul#l1 li{
list-style-type:none;
float:left;
margin-left:10px;

font-size:15px;
}

ul#l1 li #a1{

padding-left:20px;
display:block;
background:url(../img/t1.jpg) no-repeat;
background-position:0px 1px;
text-decoration:none;
color:#333333;
}
ul#l1 li #a2{
padding-left:20px;
display:block;
background:url(../img/t2.jpg) no-repeat;
border-left:1px #DEDEDE solid;
text-decoration:none;
color:#333333;
background-position:0px -1px;
}
ul#l1 li #a3{
padding-left:20px;
display:block;
background:url(../img/t3.jpg) no-repeat;
background-position:0px 1px;
border-left:1px #DEDEDE solid;
text-decoration:none;
color:#333333;
}

ul#l2{

position:absolute;
left:0;
top:68px;
line-height:40px;
}
ul#l2 li{

border-left:1px solid #F76969;
margin-left:9px;
float:left;
list-style-type:none;
font-size:20px;

}
ul#l2 li a{
display:block;
text-decoration:none;
color:#FFFFFF;


}
ul#l2 li a:hover{

text-decoration:underline;
color:orange;
}
ul#l2 .li1 a img{

margin-right:6px;
border:none;
}
ul#l2 .li1 a{

font-size:16px;

}

ul#l3{

position:absolute;
left:0;
top:112px;
}
ul#l3 li{
line-height:1;
float:left;
list-style-type:none;
margin-right:10px;
border-left:1px solid #DEDEDE;
padding-left:1px;
}
ul#l3 li a{
display:block;
color:#2B2B2B;
text-decoration:none;
font-size:15px;
}
ul#l3 li a:hover{

text-decoration:underline;
color:red;

}
ul#l3 li:first-child{
border:0;
margin-left:30px;
}


#adver{

position:absolute;
left:0;
top:145px;
background:url(../img/bg1.jpg) repeat-x;
padding-top:10px;
padding-left:10px;
}
#adver #z1{
display:block;
width:100%;
height:110px;


}
ul#l4,ul#l5{

margin-top:3px;
float:left;
margin-bottom:5px;
}
ul#l5{
margin-bottom:3px;
}


ul#l4 li{
line-height:1;
list-style-type:none;
float:left;
margin-left:35px;
}
ul#l4 li a{
text-decoration:none;
color:#2B2B2B;
display:block;
font-size:13px;
}

ul#l5 li{
list-style-type:none;
float:left;
margin-left:29px;
line-height:1;
}
ul#l5 li a{
display:block;
color:#2B2B2B;
text-decoration:none;
font-size:13px;
}
ul#l5 li:first-child,ul#l4 li:first-child{
list-style-type:none;
float:left;
margin-left:3px;
}
#little{

position:absolute;
left:0;
top:320px;

}
#t1,#t2,#t3,#t4{
width:251px;
float:left;
padding-bottom:5px;
border-bottom:2px solid #004276;
}
#t1 img,#t2 img,#t3 img,#t4 img{

float:left;

}
#t1 .fa a,#t2 .fa a,#t3 .fa a,#t4 .fa a{
display:block;
font-size:13px;
text-decoration:none;
color:#004276;

}
#t1 .fa a:hover,#t2 .fa a:hover,#t3 .fa a:hover,#t4 .fa a:hover{

text-decoration:underline;
color:red;

}

.fa{
float:left;
}
/*header结束*/

#left{            /*--左边栏开始-->*/
position:absolute;
left:0;
top:387px;
width:222px;
border:1px solid #DEDEDE;
}
#n1,#n2,#n3,#n4{

width:100%;
float:left;
padding-left:6px;
padding-right:6px;


}
#n5{

width:100%;
float:left;

}
#s1,#s2,#s3,#s4{

float:left;
width:210px;

margin-top:5px;
}
#s2 a{
text-decoration:none;
display:block;
color:#838383;
font-size:13px;

}
#s1 a,#s3 a,#s4 a{
text-decoration:none;
display:block;
color:#004276;
font-size:13px;

}
#s1 a{

float:left;
}
#s1 img{

float:right;
}
#s5,#s6,#s7,#s8{

width:210px;
float:left;

}
#s5 a,#s6 a,#s8 a{

display:block;
text-decoration:none;
font-size:13px;
color:#004276;
}
#s7 img{

float:left;

}
#s7 a{

text-decoration:none;
font-size:13px;
float:left;
color:#838383;
margin-left:5px;
}
#s4{

border-bottom:1px solid #DEDEDE; 
}
#n2{

margin-top:10px;

}
#s5{
margin-bottom:5px;

}
#s4{

padding-bottom:5px;
}
#s6,#s7{

margin-bottom:5px;

}

#s9,#s10,#s11,#s12{

width:210px;
float:left;
margin-bottom:5px;

}
#s12{

border-bottom:1px solid #DEDEDE; 
padding-bottom:5px;
}
#s12 a{

display:block;
text-decoration:none;
font-size:13px;
color:#004276;
}
#s11 img{

float:left;

}
#s11 a{

text-decoration:none;
font-size:13px;
float:left;
color:#838383;
margin-left:5px;
}
#s10 a{

text-decoration:none;
font-size:13px;
float:left;
color:#004276;
}
#s8{
padding-bottom:5px;
border-bottom:1px solid #DEDEDE; 
}
#n3{

margin-top:10px;

}
#s9 #k1{
text-decoration:none;
font-size:13px;
color:#004276;
float:left;
}
#s9 #k2{

text-decoration:none;
font-size:13px;
color:#004276;
float:right;

}



#s13,#s14,#s15{

float:left;
width:211px;

margin-top:5px;
}
#s13 a{

display:block;
color:#2B2B2B;
text-decoration:none;
}

#s14 a{
display:block;
float:left;
color:#004276;
font-size:13px;
text-decoration:none;
}
#s15 li{
font-size:13px;
list-style-type:none;
float:left;
line-height:1;

}
#s15 li a{

font-size:13px;
text-decoration:none;
color:#000000;

}
#s15 li a:hover,#s14 a:hover,#s13 a:hover,#s10 a:hover,#s11 a:hover,#s12 a:hover,#s5 a:hover,#s6 a:hover,#s8 a:hover,#s7 a:hover,#s1 a:hover,#s3 a:hover,#s4 a:hover,#s2 a:hover{


text-decoration:underline;
color:red;

}
#s15 li:first-child{

padding-right:5px;
margin-right:7px;
border-right:1px solid #000000;
}
#n5{

margin-top:5px;

}
#z2{

height:255px;

}



/*--左边栏结束-->*/

/*--中间栏开始-->*/

#middle{

position:absolute;
left:270px;
top:387px;
width:362px;

}
ul#l7,ul#l8,ul#l9,ul#l10,ul#l71{

width:100%;
float:left;


}
ul#l7 a,ul#l8 a,ul#l9 a,ul#l10 a{
text-decoration:none;
color:#004276;
display:block;

}
ul#l7 li,ul#l8 li,ul#l9 li,ul#l10 li{
margin-top:5px;
list-style-type:none;

}

ul#l7 a{

font-size:15px;
padding-left:10px;
}
ul#l71 li{
margin-top:5px;
list-style-type:none;
float:left;


}
ul#l71 a{
display:block;
font-size:14px;
text-decoration:none;
color:#004276;
padding-left:10px;
}

ul#l7 a:hover,ul#l8 a:hover,ul#l9 a:hover,ul#l10 a:hover,ul#l71 a:hover{

text-decoration:underline;
color:red;
}


ul#l8 a,ul#l9 a{
font-size:15px;
padding-left:10px;
background:url(../img/j2.jpg) no-repeat;
background-position:-5px 8px;

}
ul#l10 a{
display:block;
font-size:15px;
padding-left:15px;
background:url(../img/j1.jpg) no-repeat;
background-position:-2px 3px;

}


ul#l9{
padding-bottom:10px;
border-bottom:1px solid  #DEDEDE;
}
#tui{
margin-left:10px;
width:100%;
float:left;
margin-top:15px;
height:16px;
}
#tui a{

float:left;
font-size:15px;
margin-left:5px;
}
#tui a:hover{

color:red;
text-decoration:underline;
}
#tui #change{
margin-left:10px;
float:left;

}
/*
#tui span{

float:left;

}
span.c1{

width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:0px 0px;

}
span.c2{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-16px 0px;

}
span.c3{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-32px 0px;
}
span.c4{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-48px 0px;
}
span.c5{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-62px 0px;
}
span.c6{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-78px 0px;
}
span.c7{


width:16px;
height:16px;
background:url(../img/c11.jpg) no-repeat;
background-position:-94px 0px;
}
*/


#c11,#c12,#c13,#c14,#c15,#c16,#c17{
display:block;
width:16px;
height:16px;
float:left;
}
#c11{

background:url(../img/c11.jpg) no-repeat;
background-position:0px 0px;

}
#c12{

background:url(../img/c11.jpg) no-repeat;
background-position:-19px 0px;

}
#c13{

background:url(../img/c11.jpg) no-repeat;
background-position:-32px 0px;

}
#c14{

background:url(../img/c11.jpg) no-repeat;
background-position:-48px 0px;

}
#c15{

background:url(../img/c11.jpg) no-repeat;
background-position:-60px 0px;

}
#c16{
background:url(../img/c11.jpg) no-repeat;
background-position:-75px 0px;

}
#c17{

background:url(../img/c11.jpg) no-repeat;
background-position:-94px 0px;

}

#c12:hover{

background:url(../img/c11.jpg) no-repeat;
background-position:-71px 0px;

}
#c13:hover{
background:url(../img/c11.jpg) no-repeat;
background-position:-71px 0px;
}
#c14:hover{
background:url(../img/c11.jpg) no-repeat;
background-position:-74px 0px;

}
#c15:hover{

background:url(../img/c11.jpg) no-repeat;
background-position:-73px 0px;
}
#c16:hover{

background:url(../img/c11.jpg) no-repeat;
background-position:-62px 0px;
}


#xz1,#xz2,#xz3,#xz4,#xz5{

width:100%;
float:left;

}
#xz1,#xz2,#xz3,#xz4,#xz5{
display:none;

}
#tui1:hover{
color:red;
}

#tui ul.l11 li{

list-style-type:none;
margin-top:5px;

}
#tui ul.l11 li a{

font-size:15px;
text-decoration:none;
color:#004276;

}
#tui ul.l11 li a:hover{

color:red;
text-decoration:underline;

}
/*--中间栏结束-->*/

/*--右边栏开始-->*/

#right{
position:absolute;
left:643px;
top:387px;
width:368px;

}

#a_prev,#a_next{

width:21px;
height:32px;
display:block;

}

#a_next{

position:absolute;
left:330px;
top:115px;

background:silver url(../img/arrow-next.png) no-repeat;

}
#a_prev{
position:absolute;
left:10px;
top:115px;
background:silver url(../img/arrow-prev.png) no-repeat; 
}


ul#l11 li{
list-style-type:none;
float:left;

border:1px solid #DEDFDA;

}
ul#l11 li a{
font-size:14px;
display:block;
text-decoration:none;
color:#004276;
padding:2px 5px 2px 5px;

}
ul#l11 li a:hover{

color:red;
text-decoration:underline;
}


#tc{
height:221px;
float:left;
width:100%;

}
#tc1{
margin-top:7px;
float:left;
width:100%;
height:25px;
}
#tc1 a{
display:block;
text-decoration:none;
color:#004276;
float:left;
}
#tc1 a:last-child{
float:right;
margin-right:3px;
}

ul#l12,#tc2,#tc3{
width:100%;
float:left;
margin-top:10px;
}
#tc2,#tc3{

height:94px;

}

ul#l12 li{
float:left;
list-style-type:none;
margin-left:10px;
}
ul#l12 li a{

text-decoration:none;
color:#004276;


}
ul#l12 li a:hover{

color:red;
text-decoration:underline;


}

.d1{

float:left;

}

.d2{
line-height:0.7;
margin-bottom:10px;
}
.d3{
margin-bottom:5px;
}


#tc21,#tc31{
margin-left:8px;
float:left;
width:227px;

}
#tc21 a,#tc31 a{
font-size:14px;
text-decoration:none;
display:block;
color:#004276;

}
#tc21 a:hover,#tc31 a:hover{

color:red;
text-decoration:underline;
}

ul#l13{

width:100%;


}
ul#l13 li{
margin-top:5px;

float:left;
list-style-type:none;
}
ul#l13 li a{
padding-left:18px;
display:block;
font-size:14px;
text-decoration:none;
color:#004276;
background:url(../img/g21.jpg) no-repeat;
background-position:0px 3px;
}
ul#l13 li a:hover{

color:red;
text-decoration:underline;
}


#intro{
margin-top:18px;
width:100%;
float:left;
border:1px solid #DEDFDA;
margin-left:7px;
}
#intro a{
margin:5px 5px 5px 10px;
font-size:14px;
text-decoration:none;
display:block;
color:#004276;

}
#intro a:hover{
color:red;
text-decoration:underline;
}
 
/*--右边栏结束-->*/



#footer{
position:absolute;
width:1011px;
left:0;
top:1365px;
border-top:2px solid red;

}
ul#l14,ul#l15,ul#l16,ul#l17,ul#l18{
float:left;
}

ul#l14 li,ul#l15 li,ul#l16 li,ul#l17 li{
color:#004276;
float:left;
list-style-type:none;

}
ul#l18 li{

margin-left:22px;
float:left;
list-style-type:none;
width:141px;
border:1px solid #004276;
height:50px;
}
ul#l18 li a{
color:#004276;


}
ul#l18 li a:hover{
color:red;
text-decoration:underline;
}

.f11,.f12,.f13,.f14,.f15,.f16{
text-decoration:none;
}
.f11 p{
background:url(../img/f1.jpg) no-repeat;
background-position:0px -7px;
padding-left:40px;
margin-top:5px;
margin-left:7px;
}
.f12 p{
background:url(../img/f2.jpg) no-repeat;
background-position:0px -4px;
padding-left:45px;
margin-top:7px;
margin-left:7px;
}
.f13 p{
background:url(../img/f3.jpg) no-repeat;
background-position:0px -6px;
padding-left:40px;
margin-top:7px;
margin-left:7px;
}
.f14 p{
background:url(../img/f4.jpg) no-repeat;
background-position:0px -2px;
padding-left:40px;
margin-top:7px;
margin-left:7px;
}
.f15 p{
background:url(../img/f5.jpg) no-repeat;
background-position:0px 0px;
padding-left:40px;
margin-top:7px;
margin-left:5px;
}
.f16 p{
background:url(../img/f6.jpg) no-repeat;
background-position:0px -6px;
padding-left:45px;
margin-top:7px;
margin-left:5px;
}

ul#l14 li a,ul#l15 li a,ul#l16 li a,ul#l17 li a{
font-size:13px;
text-decoration:none;
color:#004276;

}
ul#l14 li a:hover,ul#l15 li a:hover,ul#l16 li a:hover,ul#l17 li a:hover{
color:red;
text-decoration:underline;


}
ul#l14 li{
margin-top:10px;
margin-left:10px;
border-left:1px solid #004276;
line-height:0.6;
padding-left:6px;
margin-bottom:10px;
}
ul#l14 li:first-child{
margin-left:0px;
border-left:0;
}
ul#l15{

padding-left:57px;
}
ul#l16{
padding-left:260px;
}
ul#l17{
padding-left:20px;
}
ul#l15 li{
margin-top:10px;
margin-left:20px;
padding-left:6.5px;
margin-bottom:10px;

}

ul#l15 li:first-child{
margin-left:0px;
border-left:0;
}
ul#l16 li{
margin-top:10px;
margin-left:20px;
padding-left:6.5px;
margin-bottom:10px;

}

ul#l16 li:first-child{
margin-left:0px;
border-left:0;
}
ul#l17 li{
margin-top:10px;
margin-left:20px;
padding-left:6.5px;
margin-bottom:10px;

}

ul#l17 li:first-child{
margin-left:0px;
border-left:0;
}


/*--弹跳广告-->*/

#add1{

width:100%;
float:left;

}

#add1 #add1_1{

  position:absolute;
  left:45px;
  top:130px;
  z-index:999;

}
#add1 #add1_2{

  position:absolute;
  left:945px;
  top:135px;
  z-index:999;
}

/*#kl{
display:block;
background-color:silver;
border:1px solid;
padding-left:100px;
text-decoration:none;


}*/